@import "/src/config";

.hero {
  width: 100vw;
  position: relative;
  height: auto;
}
.txt {
  @include container;
}
.bg {
  width: 100vw;
  height: 100%;
  position: relative;
  filter: brightness(55%);
}
.caption {
  position: absolute;
  right: 2rem;
  width: 100%;
  bottom: 2rem;
  color: $clr-white;
  opacity: 0.3;
  text-align: right;
  @include tablet {
    font-size: 1.2rem;
    right: 1rem;
    top: 1rem;
  }
  @include mobile {
    font-size: 1rem;
    right: 0.8rem;
    top: 0.5rem;
  }
  @include tiny {
    font-size: 0.8rem;
  }
}
.quote {
  position: absolute;
  font-size: 8rem;
  font-weight: 800;
  top: 50%;
  left: 50%;
  color: $clr-white;
  transform: translate(-50%, -50%);
  @include tablet {
    font-size: 4.7rem;
  }
  @include mobile {
    font-size: 2.5rem;
  }
  @include tiny {
    font-size: 1.5rem;
  }
}
