/* dark shades of primary color*/
$clr-primary-1: hsl(0, 86%, 17%);
$clr-primary-2: hsl(0, 77%, 27%);
$clr-primary-3: hsl(0, 72%, 37%);
$clr-primary-4: hsl(0, 63%, 48%);
/* primary/main color */
$clr-primary-5: hsl(0, 78%, 60%);
/* lighter shades of primary color */
$clr-primary-6: hsl(0, 89%, 70%);
$clr-primary-7: hsl(0, 90%, 76%);
$clr-primary-8: hsl(0, 86%, 81%);
$clr-primary-9: hsl(0, 90%, 88%);
$clr-primary-10: hsl(0, 100%, 96%);
/* darkest grey - used for headings */
$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-2: hsl(211, 39%, 23%);
$clr-grey-3: hsl(209, 34%, 30%);
$clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
$clr-grey-5: hsl(210, 22%, 35%);
$clr-grey-6: hsl(209, 23%, 60%);
$clr-grey-7: hsl(209, 23%, 54%);
$clr-grey-8: hsl(210, 31%, 80%);
$clr-grey-9: hsl(212, 33%, 89%);
$clr-grey-10: hsl(210, 36%, 96%);
$clr-white: #fff;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
$clr-black: #333;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.12);
$fixed-width: 620px;
$font-size: 1.4rem;

:root {
  width: 100vw;
  height: auto;
  font-size: 10px;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: $font-size;
}
body {
  font-family: "Work Sans", sans-serif;
  width: 100vw;
  background: $clr-grey-10;
  overflow-x: hidden;
  color: $clr-black;
}

button {
  cursor: pointer;
}
li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
//Mixins
@mixin transition-short {
  transition: all 0.3s ease-in-out;
}
@mixin transition-medium {
  transition: all 0.5s ease-in-out;
}
@mixin transition-long {
  transition: all 1s ease-in-out;
}
@mixin flex-row {
  display: flex;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@mixin container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
@mixin l-shadow {
  box-shadow: $light-shadow;
}
@mixin d-shadow {
  box-shadow: $dark-shadow;
}
@mixin pc {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin tiny {
  @media screen and (max-width: 300px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 860px) {
    @content;
  }
}
@mixin ultra {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
